<%- include('partials/header'); -%>
<h1>HOME</h1>
<p><%=homeStartingContent%></p>
<% posts.forEach(function(p){ %>
    <h1><%= p.title %></h1>
    <p><%= p.content.substring(0,100) + "..." %>
    <a href= "/posts/<%= p._id %>">Read more</a>
    </p>
<% }); %>

<%- include('partials/footer'); -%>